body
{
    background-color: #000000f5;
    /* font-family: 'Segoe UI Light'; */
    /* background-color: #212529; */
    overflow: hidden;
}
input:focus
{
    border-color: #dc3545 !important;
    box-shadow: 0px 10px 20px -15px #dc3545 !important;
}
.move-input-box
{
    width: 85%;
}
.move-input
{
    border-bottom: 1px solid white !important;
    border-radius: 0;
    font-family: 'Segoe UI Light';
    font-size: 1.1rem;
}
#myMovies p
{
    font-size: .99rem;
    font-family: 'Segoe UI Light';
    font-weight: 900;
    color: black;
}
.post
{
    border-radius: .3rem;
}
.post-item
{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    transition: all 1s;
}
.post:hover .post-item
{
    top: 0;
}
#contactUs h2
{
    font-family: 'Segoe UI Light';
}
.nav-bar
{
    top: 0;
    z-index: 999;
    font-family: 'Segoe UI Light';
}
.fa-align-justify
{
    font-size: 1.6rem;
}
.nav-head i
{
    color: #212529;
    cursor: pointer;
}
.nav-body
{
    width: 65%;
    background-color: black;
}
.social a
{
    font-family: 'Segoe UI Light';
    font-weight: 100;
    font-size: .98rem;
}
.nav-body p
{
    color: #999;
}
.nav-body a
{
    color: white;
    text-decoration: none;
    transition: all .5s ;
}
.nav-body a:hover
{
    color: #dc3545;
    transition: all .2s !important;
}
#apiLinks a
{
    position: absolute;
}
#nowplaying
{
    top: 0;
}
#popular
{
    top: 15%;
}
#topRated
{
    top: 30%;
}
#trending
{
    top: 47%;
}
#upComing
{
    top: 65%;
}
#btnContactUs
{
    top: 85%;
}
#divDisabled
{
    background: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.text-muted
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    font-family: 'Segoe UI Light';
    font-size: 1.15rem;
}
